.home {
  height: calc(100vh - 100px);
  background: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?cs=srgb&dl=pexels-simon-berger-1323550.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  overflow: scroll;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-me > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 72% 28% 48% 52% / 32% 34% 66% 68%;
  padding: 10px;
  background: #152c3b;
}

.message {
  width: 500px;
  padding: 5px;
}

.accounts {
  display: flex;
  gap: 5px;
  align-self: center;
  height: 30px;
  align-items: center;
  padding: 30px 0;
}

.accounts > div {
  border-radius: 20px;
  background: #cfe4f2;
  padding-right: 20px;
  color: #152c3b;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: 0.7s;
  font-size: 20px;
}

.accounts div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cfe4f2;

  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.accounts > div:hover {
  width: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .message {
    width: 360px;
  }
  .about-me {
    gap: 0;
  }
  .about-me > img {
    width: 200px;
    height: 200px;
  }
  .accounts > div {
    font-size: 16px;
    width: 30px;
    height: 30px;
  }
  .accounts div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfe4f2;

    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
